<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search Form</title>
    <style>
        /* 스타일을 추가해주세요 (예: 배경색, 폰트, 정렬 등) */
    </style>
</head>
<body>
    <h1>Recipe Search Form</h1>
    <form class="pure-form pure-form-stacked pure-u-1-3" method="POST" action="/recipes">
        <fieldset class="search-box">
            Enter your choices below, then click 'Search'.
            <br><br><br>
            <label for="selected_ingredients">Select Ingredients:</label><br>
            <select id="selected_ingredients" name="selected_ingredients" class="scrollable-dropdown">
                <!-- Ingredient options -->
            </select>
            <br><br>
            Cuisine origin:<br>
            <select id="usercuisine" name="usercuisine" required>
                <!-- Cuisine options -->
            </select>
            <br><br>
            Dietary requirements: <br>
            <select id="userhealth" name="userhealth" required>
                <!-- Health options -->
            </select>
            <br><br>
            Maximum prep. time:<br>
            <input type="number" min="1" class="pure-input" placeholder="10" name="usertime" value="10"/><br>
            <i><small>minutes</small></i>
            <br><br>
            <button type="submit" class="pure-button button-success ">Search</button>
        </fieldset>
    </form>
    <br>
</body>
</html>
